.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* New styles to prevent overlap and improve layout */
.content {
  min-height: calc(100vh - 100px); /* Adjust based on your navbar and footer height */
  padding-top: 60px; /* Add some space between the navbar and content */
  padding-bottom: 40px; /* Add space between content and footer */
}

.certificates-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.certificates-section h2 {
  margin-bottom: 20px;
}

.certificates-grid {
  display: grid ;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  
  /* grid-template-columns: auto auto auto auto; 
  grid-template-rows: auto auto;   */
  
  gap: 20px;
  
}

.certificate-card {
  padding: 20px;
  background-color: transparent !important;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 4px 5px rgba(129, 72, 144, 0.561) !important;
  transition: transform 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);
}

/* Scrollbar styles */
.content {
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content {
    padding-top: 80px; /* Adjusting padding for mobile view */
    padding-bottom: 60px;
  }

  .certificates-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
